//fonts
@font-face {
   font-family: DAM_Kalhi; src: url("../fonts/dhivehi/df/DAM_Kalhi.otf");
}
@font-face {
   font-family: faruma; src: url("../fonts/dhivehi/df/Faruma.otf");
}
@font-face {
   font-family: faseyha; src: url("../fonts/dhivehi/df/MV_Faseyha.otf");
}
@font-face {
   font-family: dhivehi; src: url("../fonts/dhivehi/df/Dhivehi.ttf");
}
