@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body, html {
   font-family: 'Roboto', sans-serif;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   font-size: var(--font-size);
}

@import "partials/variables", "partials/media", "partials/mixins", "partials/animations",
"partials/fonts", "partials/footer";

@function getAnimationDuration($duration: number) {
   @return calc($duration * var(--animation-speed));
}

.test{
   font-family: var(--font-faruma);
   display: flex;
   margin: 0 auto;
   width: 100vw;
   height: 100vh;
   border: 2px solid var(--app-darkGray-dark);
   align-items: center;
   justify-content: center;
   gap: 1rem;
   background-color: var(--app-black);
   font-size: var(--font-size-10xl);

   div{
      -webkit-text-stroke: 1px var(--app-blue);
      color: transparent;
      -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(0,0,0,.2));
      // border-bottom: 1px solid var(--app-lightGray);
      text-transform: uppercase;
      // animation: waviy 1s infinite;
      // &::first-letter{
      //    color: var(--app-blue);
      // }
   }

}


.main_body{
   background-color: var(--app-lightGray);
   .lds-ripple {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
      background-color: var(--app-black);
      color: #fff;
      position: relative;

      div {
         align-items: center;
         position: absolute;
         border: 4px solid #fff;
         opacity: 1;
         border-radius: 50%;
         animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
      }

      div:nth-child(2) {
         animation-delay: -0.5s;
      }
      @keyframes lds-ripple {
         0% {
            top: 36px;
            left: 36px;
            width: 0;
            height: 0;
            opacity: 0;
         }
         4.9% {
            top: 36px;
            left: 36px;
            width: 0;
            height: 0;
            opacity: 0;
         }
         5% {
            top: 36px;
            left: 36px;
            width: 0;
            height: 0;
            opacity: 1;
         }
         100% {
            top: 0px;
            left: 0px;
            width: 72px;
            height: 72px;
            opacity: 0;
         }
      }
   }
   .container{
      //display flex for card
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      height: 100vh;

      .card {
         max-width: var(--card-width-md);
         /* Change background color */
         background-color: white;
         /* Add border */
         border: 1px solid #bacdd8;
         /* Add space between the border and the content */
         padding: 8px;
         border-radius: 12px;
         /* Add shadow */
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         /* Add transition effect */
         transition: all 0.3s;
         /* Add animation */
         animation: fadeIn 0.3s;
         animation-fill-mode: forwards;
         animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
         animation-delay: 0.2s;
         animation-duration: 0.3s;
         animation-iteration-count: 1;
         animation-direction: normal;
         animation-play-state: running;
         animation-name: fadeIn;

         /* Add shadow to the card */
         &:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         }

         img {
            width: 100%;
            border-radius: 12px;
            height: 214px;
            object-fit: cover;
         }

         .card__details {
            /* Add space around the details */
            padding: 16px 8px 8px 8px;

            .tags{
               display: flex;
               /* Style div elements that have class equal to tag */
               .tag {
                  padding: 4px 8px;
                  border: 1px solid #e5eaed;

                  border-radius: 50px;
                  font-size: 12px;
                  font-weight: 600;
                  color: #788697;
               }
            }

            .date{
               color: var(--app-darkGray-dark);
               font-size: var(--font-size-s);
            }

            .more_details{
               display: flex;
               flex-direction: column;
               /* Style div elements that have class equal to name */
               .name {
                  font-size: 16px;
                  font-weight: 800;
                  color: var(--app-black);
                  margin: 10px 0;
               }

               /* Style p element */
               .text {
                  font-size: 14px;
                  color: #7f8c9b;
                  line-height: 150%;
                  border-bottom: 1px solid #e5eaed;
                  padding: 10px 0;
               }

               /* Style button element */
               .button {
                  border: none;
                  padding: 12px 24px;
                  border-radius: 50px;
                  font-weight: 600;
                  color: var(--app-white);
                  background-color: var(--app-blue-dark);
                  display: block;

                  /* Button is a clickable element, therefore it should have a pointer cursor */
                  cursor: pointer;
                  text-align: center;
               }


               .not{
                  background-color: var(--app-lightGray);
                  color: var(--app-darkGray-dark);
               }
            }
         }
      }

   }
}
